# 必須ライブラリ
requests>=2.24.0
toml>=0.10.1
colorama>=0.4.3
click>=7.1.2

# 依存ライブラリ（requests等に関連）
appdirs>=1.4.4
attrs>=20.2.0
certifi>=2020.6.20
chardet>=3.0.4
idna>=2.10
urllib3>=1.25.11

# http request randomizer requirements (プロキシ機能用)
beautifulsoup4 >= 4.9.3
psutil >= 5.7.2
python-dateutil >= 2.8.1
pyOpenSSL >= 19.1.0
fake-useragent >= 0.1.11
